body {
    font-family: Inter, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.title {
    font-size: 64px;
    margin: 20px 0;
}
.section {
    background: #D9D9D9;
    border: 3px solid #595858;
    padding: 40px;
    width: 700px;
    border-radius: 10px;
}
.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.section p {
    font-size: 30px;
    font-weight: bold;
}
.input-group {
    margin: 20px 0;
}
.input-group label {
    display: block;
    font-size: 16px;
}
.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #595858;
    margin-top: 5px;
}
.button {
    background: #1A1728;
    color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    border: 3px solid #ADADAD;
    cursor: pointer;
    margin-top: 20px;
}
.link {
    color: #0479FF;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
.password-requirements {
    font-size: 18px;
    text-align: left;
    color: #11C626;
    margin-top: 15px;
}
.password-requirements span {
    display: block;
    margin-bottom: 5px;
}