<div class="container">
  <div class="section">
      <div class="title">INICIA SESIÓN EN AREAZERO.ES</div>
      <form (ngSubmit)="submit()">
          <div class="input-group">
              <label for="email">EMAIL:</label>
              <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="emaildemuestra@gmail.com" required>
          </div>
          <div class="input-group">
              <label for="password">CONTRASEÑA:</label>
              <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="*****" required>
          </div>
          <button class="button button-login" type="submit">INICIA SESIÓN</button>
      </form>
      <button class="button button-signup">
          <a href="../register/register.component.html">REGISTRARSE</a>
      </button>
      <div class="password-requirements">
          <span>* Mínimo 8 caracteres</span>
          <span>* Mínimo 1 mayúscula</span>
          <span>* Mínimo 3 números</span>
      </div>
  </div>
</div>
