<h1>Pasarela de pago</h1>

@if (sessionId) {
  <section>
    <h2>Compra realizada con éxito</h2>
    <button (click)="reload()">Volver a comprar</button>
  </section>
}
@else if (product) {
    <div *ngFor="let productoCarrito of productosCarrito" class="cart-item">
  <section>
    <h2>Vas a comprar esto:</h2>
    <h3>{{ productoCarrito.producto.nombre }}</h3>
    <h4>{{productoCarrito.producto.precio}}€</h4>

    <button (click)="hostedCheckout()">Comprar en página externa</button>
    <button (click)="embeddedCheckout()">Comprar embebido</button>
  </section>
</div>
}

<dialog #checkoutDialog>
  <div id="checkout"></div>
  <button (click)="cancelCheckoutDialog()">x</button>
</dialog>