<div class="cart-container" *ngIf="productosCarrito.length > 0">
  <div *ngFor="let productosCarrito of productosCarrito" class="cart-item">
    <h3>{{ productosCarrito.producto.nombre }}</h3>
    <img
      class="imagen"
      [src]="productosCarrito.producto.ruta"
      [alt]="productosCarrito.producto.nombre + ' image'"
    />
    <p>Precio: {{ productosCarrito.producto.precio }}€</p>
    <p>
      Cantidad:
      <input
        type="number"
        [value]="productosCarrito.cantidad"
        (change)="modifyQuantity(productosCarrito.productoId, productosCarrito.carritoId, $event)"
      />
    </p>
    <button (click)="removeProduct(productosCarrito.productoId)">
      Eliminar
    </button>
  </div>
  <div>
    <button (click)="goToPagoTarjeta()">PAGAR</button>
  </div>
</div>
<div class="error-message" *ngIf="productosCarrito.length === 0">
  No hay productos en tu carrito.
</div>
