<div *ngFor="let producto of productosCarrito" class="cart-item">
  <h3>{{ producto.producto.nombre }}</h3>
  <img
    class="imagen"
    [src]="producto.producto.ruta"
    [alt]="producto.producto.nombre + ' image'"
  />
  <p>Precio: {{ producto.producto.precio / 100 }}€</p>
  <p>
    Cantidad:
    <input
      type="number"
      [value]="producto.cantidad"
      (change)="modifyQuantity(producto.producto.id, producto.carritoId, $event)"
    />
  </p>
  <button (click)="removeProduct(producto.producto.id, producto.carritoId)">
    Eliminar
  </button>
</div>
<button (click)="goToPagoTarjeta()">pagar</button>
