<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestructurado</title>
    <link rel="stylesheet" href="main.component.css">
</head>
<body>


<main class="container">
    <section class="box">
        <h2>COMPRA SOBRES Y CARTAS</h2>
        <p>Encuentra las mejores ofertas y cartas únicas para completar tu colección.</p>
        <img src="../../../assets/images/sobre.png" alt="sobre" width="200" height="200">
    </section>

    <section class="box">
        <h2>¡APÚNTATE A NUESTROS TORNEOS!</h2>
        <p>Participa y compite en nuestros torneos exclusivos.</p>
        <img src="../../../assets/images/torneos.png" alt="torneos" width="200" height="200">
    </section>

    <section class="box">
        <h2>SUBSCRÍBETE A NUESTRA TIENDA</h2>
        <p>Consigue los mejores descuentos y promociones.</p>
        <img src="../../../assets/images/chapaplateada.png" alt="chapaplateada" width="200" height="200">
    </section>
</main>

<footer class="social-icons">
    <img src="../../../assets/images/twitter.png" alt="Twitter" width="64" height="64">
    <img src="../../../assets/images/instagram.png" alt="Instagram" width="64" height="64">
    <img src="../../../assets/images/tiktok.png" alt="TikTok" width="64" height="64">
    <img src="../../../assets/images/discord.png" alt="discord" width="64" height="64">
</footer>

</body>
</html>
