@import url(../../../styles.css); 

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100vw;
    background: #b0abe0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 150px;
    box-sizing: border-box;
}

/* Ajustes de posición para los elementos del header */
.profile img {
    max-width: 100px;
    height: auto;
}

/* Agrupación y espaciado reducido entre los iconos de la izquierda */
.carrito, .torneos, .subscripcion {
    margin-right: 10px; /* Reduce el espacio entre ellos */
}

.carrito img, .torneos img, .subscripcion img {
    width: 40px;
    height: 40px;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-bar input {
    width: 350px;
    height: 40px;
    border: 1px solid black;
    background: #D9D9D9;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 5px;
}

.search-bar button {
    height: 40px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

/* Botones de información y login alineados en la derecha y cercanos */
.sobre-nosotros, .login-register {
    display: flex;
    align-items: center;
}

.sobre-nosotros {
    margin-right: 10px; /* Reduce la distancia entre info y login */
}

.sobre-nosotros .btn-info, .login-register .btn-login {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.sobre-nosotros .btn-info img, .login-register .btn-login img {
    width: 30px;
    height: 30px;
}

/* Efecto hover para botones */
.sobre-nosotros .btn-info:hover, .login-register .btn-login:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
