<header>
    <div class="profile">
        <img src="https://via.placeholder.com/226x211" alt="Logo">
    </div>  
    <div class="carrito">
        <button>
            <img src="../../../assets/images/carrito.png" alt="carrito" width="50" height="50">
        </button>
    </div>
    <div class="torneos">
        <button>
        <img src="../../../assets/images/trofeo.png" alt="carrito" width="50" height="50">
    </button>
    </div>
    <div class="subscripcion">
        <button>
        <img src="../../../assets/images/ticket.png" alt="carrito" width="50" height="50">
    </button>
    </div>
    <nav class="search-bar">
        <input type="text" placeholder="Barra de búsqueda">
        <button>Buscar</button>
    </nav>
    <div class="sobre-nosotros">
        <button class="btn-info"><img src="../../../assets/images/info.png" alt="info"></button>
    </div>
    <div class="login-register">
        <button [routerLink]="'/login'" class="btn-login"><img src="../../../assets/images/login.png" alt="login"></button> 
    </div>
</header>
