<header>
    <div class="profile">
        <a [routerLink]="''">
            <img [src]="logoImgSrc" alt="Logo">
        </a>
    </div>
    
    <div class="carrito">
        <button [routerLink]="'/cart'">
            <img [src]="carritoImgSrc" alt="Carrito" width="50" height="50">
        </button>
    </div>

    <div class="torneos">
        <img [src]="torneosImgSrc" alt="Torneos" width="50" height="50">
    </div>

    <div class="subscripcion">
        <a [routerLink]="'/catalog'">
            <img [src]="subscripcionImgSrc" alt="Subscripción" width="50" height="50">
        </a>
    </div>

    <div class="nav-buttons">
        <button [routerLink]="'/aboutus'" class="nav-button">Sobre Nosotros</button>
        <button [routerLink]="'/login'" class="nav-button">Inicia Sesión</button>
        <button [routerLink]="'/register'" class="nav-button">Registrarse</button>
    </div>
</header>
