header {
  background-color: #b8def1; 
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5a738e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.carrito {
  position: relative;
}

.carrito button {
  background: none;
  border: none;
  cursor: pointer;
}

.carrito img {
  width: 50px;
  height: 50px;
}

.torneos a,
.subscripcion a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #3498db;
  outline: none;
  margin-right: 10px;
}

.search-bar button {
  background-color: #3498db;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #2980b9;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #3498db;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

nav a {
  color: #5a738e; 
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #3498db;
}

/* Responsividad */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      padding: 10px;
  }

  .profile img {
      width: 60px;
      height: 60px;
  }

  .carrito img,
  .torneos img,
  .subscripcion img {
      width: 40px;
      height: 40px;
  }

  .nav-buttons {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      margin-top: 10px;
  }

  .nav-button {
      margin: 5px 0;
      width: 100%;
  }
}

@media (max-width: 480px) {
  header {
      padding: 5px;
  }

  .profile img {
      width: 50px;
      height: 50px;
  }

  .carrito img,
  .torneos img,
  .subscripcion img {
      width: 30px;
      height: 30px;
  }

  .nav-buttons {
      width: 100%;
  }

  .nav-button {
      padding: 8px 10px;
      font-size: 14px;
  }
}
