<header>
    <div class="profile">
        <img src="assets/images/logo.png" alt="Logo">
    </div>
    
    <div class="carrito">
        <button [routerLink]="'/catalog'">
        <img src="/app/assets/images/carrito.png" alt="catalogo" width="50" height="50">
        </button>
    </div>

    <div class="torneos">
        <button [routerLink]="'/cart'">
        <img src="../../assets/images/carrito.png" alt="carrito" width="50" height="50">
    </button>
        <img src="assets/images/torneos.png" alt="Torneos" width="50" height="50">
    </div>

    <div class="subscripcion">
        <img src="assets/images/ticket.png" alt="Subscripción" width="50" height="50">
    </div>

    <nav class="search-bar">
        <input type="text" placeholder="Barra de búsqueda">
        <button>Buscar</button>
    </nav>

    <div class="sobre-nosotros">
        <a [routerLink]="'/aboutus'">Sobre Nosotros</a> 
    </div>
    
    <div class="login-register">
        <a [routerLink]="'/login'">Inicia Sesión</a> /
        <a [routerLink]="'/register'">Registrarse</a>
    </div>
</header>
