<div class="about-us-container">
    <!-- Encabezado -->
    <div class="header">
        <div class="logo"></div>
        <div class="about-us-title">
            <h1>SOBRE NOSOTROS</h1>
            <hr class="line1">
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Sección "Misión" -->
        <div class="mission-section">
            <h2>Misión</h2>
            <p>Nuestro objetivo es ofrecer una experiencia única a los coleccionistas de cartas de Pokémon, brindando sobres exclusivos y creando una comunidad para compartir la pasión por el juego. Nos enfocamos en ofrecer productos de calidad y en construir un espacio donde los fanáticos puedan conectarse.</p>
        </div>

        <div class="vision-section">
            <h2>Visión</h2>
            <p>Queremos ser la tienda líder en sobres de Pokémon, ofreciendo productos exclusivos y creando un punto de encuentro para coleccionistas y jugadores, donde la experiencia de coleccionar se combine con una comunidad activa.</p>
        </div>

        <div class="values-section">
            <h2>Valores</h2>
            <p><strong>Las personas:</strong> Buscamos fomentar la interacción entre clientes y empleados, creando un espacio donde compartir la pasión por Pokémon.</p>
            <p><strong>Innovación:</strong> Nos comprometemos a ofrecer siempre productos y servicios innovadores, manteniéndonos al día con las últimas tendencias y tecnologías para mejorar la experiencia de nuestros clientes.</p>
            <p><strong>Compromiso con la comunidad:</strong> Queremos contribuir al crecimiento de la comunidad de coleccionistas, ofreciendo un espacio para intercambiar cartas y colaborar en eventos que fortalezcan la conexión entre los fanáticos.</p>
        </div>
    </div>

    <div class="social-media">
        <p>¡ENCUÉNTRANOS AQUÍ TAMBIÉN!</p>
        <footer class="social-icons">
            <a href="https://twitter.com" target="_blank">
                <img [src]="twitterImgSrc" alt="Twitter" width="64" height="64">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img [src]="instagramImgSrc" alt="Instagram" width="64" height="64">
            </a>
            <a href="https://tiktok.com" target="_blank">
                <img [src]="tiktokImgSrc" alt="TikTok" width="64" height="64">
            </a>
            <a href="https://discord.com" target="_blank">
                <img [src]="discordImgSrc" alt="Discord" width="64" height="64">
            </a>
        </footer>
    </div>
</div>
