<!-- about-us.component.html -->

<!-- Contenedor principal de la sección -->
<div class="about-us-container">
    <!-- Encabezado -->
        <div class="logo"></div>
        <div class="about-us-title">
            <h1>SOBRE NOSOTROS</h1>
            <hr class="line1">
            <hr class="line2">
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Sección "Nuestra Misión" -->
        <div class="mission">
            <h2>NUESTRA MISIÓN</h2>
            <p>Somos un grupo de apasionados del mundo Pokémon TCG que buscamos impulsar la escena competitiva en España. Nuestra misión es fomentar el juego, la estrategia y el coleccionismo de estas cartas, creando una comunidad sólida y activa. Queremos que Pokémon TCG sea reconocido como un deporte mental desafiante y divertido, y que cada vez más personas descubran la emoción de las batallas Pokémon. A través de nuestra página, proporcionaremos recursos, noticias y eventos para que todos los jugadores, desde principiantes hasta expertos, puedan mejorar sus habilidades y disfrutar al máximo de este fantástico juego de cartas.</p>
            <img src="../../../app/assets/images/tcg.png" class="imagen-circular" alt="imagen-circular">
        </div>

        <!-- Sección "Nuestra Historia" -->
        <div class="history">
            <h2>NUESTRA HISTORIA</h2>
            <p>Somos cuatro amigos, Gonzalo Ruiz, Paco Barrio, Adolfo Burgos y Jorge Salguero, unidos por nuestra pasión por los videojuegos y, en especial, por Pokémon. Al enfrentarnos al desafío de crear una página web para nuestro proyecto de clase, nos dimos cuenta de que compartíamos un interés común: las cartas coleccionables de Pokémon. Decidimos aprovechar esta oportunidad para compartir nuestra afición con otros y crear un espacio donde la comunidad de jugadores de Pokémon TCG en España pudiera reunirse y crecer. Así nació este proyecto, que busca convertirse en un punto de referencia para todos aquellos que aman las cartas Pokémon.</p>
            <div><img src="../../../app/assets/images/area_zero.png" class="imagen-circular" alt="imagen-circular"></div>
        </div>
    </div>

    <!-- Redes Sociales -->
    <div class="social-media">
        <p>¡ENCUÉNTRANOS AQUÍ TAMBIÉN!</p>
        <footer class="social-icons">
            <img src="../../../app/assets/images/twitter.png" alt="Twitter" width="64" height="64">
            <img src="../../../app/assets/images/instagram.png" alt="Instagram" width="64" height="64">
            <img src="../../../app/assets/images/tiktok.png" alt="TikTok" width="64" height="64">
            <img src="../../../app/assets/images/discord.png" alt="discord" width="64" height="64">
        </footer>
    </div>
</div>
