<!-- about-us.component.html -->

<!-- Contenedor principal de la sección -->
<div class="about-us-container">
    <!-- Encabezado -->
        <div class="logo"></div>
        <div class="about-us-title">
            <h1>SOBRE NOSOTROS</h1>
            <hr class="line1">
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Sección "Nuestra Misión" -->
        <div class="mission">
            <h2>NUESTRA MISIÓN</h2>
            <p>Nuestro objetivo es ser el referente del juego competitivo de Pokémon en nuestra zona. Queremos impulsar el crecimiento de la escena local, ofreciendo a los jugadores la oportunidad de desarrollar sus habilidades y alcanzar sus metas. A través de torneos regulares, talleres y eventos especiales, proporcionamos un entorno desafiante y divertido donde los jugadores pueden aprender de los mejores y mejorar sus estrategias</p>
            <div class="image mission-image"></div>
        </div>

        <!-- Sección "Nuestra Historia" -->
        <div class="history">
            <h2>NUESTRA HISTORIA</h2>
            <p>Somos coleccionistas apasionados de Pokémon TCG. Fito es un experto en las primeras ediciones, Jorge se especializa en cartas holográficas, Paco disfruta de construir mazos temáticos y Gonzalo es un maestro en el intercambio de cartas. Juntos, hemos creado una colección impresionante y queremos compartir nuestra pasión con otros coleccionistas.</p>
            <div class="image history-image"></div>
        </div>
    </div>

    <!-- Redes Sociales -->
    <div class="social-media">
        <p>¡ENCUÉNTRANOS AQUÍ TAMBIÉN!</p>
        <footer class="social-icons">
            <img src="../../assets/images/twitter.png" alt="Twitter" width="64" height="64">
            <img src="/src/assets/images/instagram.png" alt="Instagram" width="64" height="64">
            <img src="/src/assets/images/tiktok.png" alt="TikTok" width="64" height="64">
            <img src="/src/assets/images/discord.png" alt="discord" width="64" height="64">
        </footer>
    </div>
</div>
