
body {
    font-family: 'Inter', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}


.about-us-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.header {
    width: 100%;
    background: #bcb8e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px 10px 0 0;
}

.logo {
    width: 150px;
    height: 150px;
    background: url('/assets/logo.png') no-repeat center/cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-us-title h1 {
    font-weight: 700;
    font-size: 48px;
    color: #0479ff;
    text-align: center;
    margin: 0;
}

.line1 {
    width: 150px;
    border: 2px solid #0479ff;
    margin: 20px auto 0;
}


.main-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mission-section, .vision-section, .values-section {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mission-section h2, .vision-section h2, .values-section h2 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
}

.mission-section p, .vision-section p, .values-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin: 10px 0;
}

.values-section p strong {
    color: #0479ff;
}


.social-media {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.social-media p {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons img {
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
