<header>
    <div class="profile">
        <img src="https://via.placeholder.com/226x211" alt="Logo">
    </div>  
    <div class="carrito">
        <img src="../../assets/images/carrito.png" alt="carrito" width="50" height="50">
    </div>
    <div class="torneos">
        <img src="../../assets/images/trofeo.png" alt="carrito" width="50" height="50">
    </div>
    <div class="subscripcion">
        <img src="../../assets/images/ticket.png" alt="carrito" width="50" height="50">
    </div>
    <nav class="search-bar">
        <input type="text" placeholder="Barra de búsqueda">
        <button>Buscar</button>
    </nav>
    <div class="sobre-nosotros">
        <a href="#">Sobre Nosotros</a> 
    </div>
    <div class="login-register">
        <a href="#">Inicia Sesión</a> /
        <a href="#">Registrarse</a>
    </div>
</header>
