<main class="container">
    <section class="box" [routerLink]="'/catalog'">
        <h2>COMPRA SOBRES Y CARTAS</h2>
        <p>Encuentra las mejores ofertas y cartas únicas para completar tu colección.</p>
        <img [src]="sobreImgSrc" alt="Sobre" width="200" height="200">
    </section>

    <section class="box">
        <a href="https://www.start.gg/game/pokemon-tcg" target="_blank" class="no-link">
            <h2>¡APÚNTATE A NUESTROS TORNEOS!</h2>
            <p>Participa y compite en nuestros torneos exclusivos.</p>
            <img [src]="torneosImgSrc" alt="Torneos" width="200" height="200">
        </a>
    </section>
</main>
