.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    background: #fff;
    border: 2px solid #dcdcdc;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

img {
    width: 200px;
    height: 200px;
}
