<main class="container">
    <section class="box" [routerLink]="'/catalog'">
        <h2>COMPRA SOBRES Y CARTAS</h2>
        <p>Encuentra las mejores ofertas y cartas únicas para completar tu colección.</p>
        <img [src]="sobreImgSrc" alt="Sobre" width="200" height="200">
    </section>

    <section class="box">
        <h2>¡APÚNTATE A NUESTROS TORNEOS!</h2>
        <p>Participa y compite en nuestros torneos exclusivos.</p>
        <img [src]="torneosImgSrc" alt="Torneos" width="200" height="200">
    </section>

    <section class="box">
        <h2>SUBSCRÍBETE A NUESTRA TIENDA</h2>
        <p>Consigue los mejores descuentos y promociones.</p>
        <img [src]="chapaImgSrc" alt="Chapa Plateada" width="200" height="200">
    </section>
</main>
